# Ignore everything
*
*/*
*/*/*

# Don't ignore directories, so we can traverse them
!*/

# Don't ignore specific files
!section/*/notes.md
!section/*/notebook.ipynb
!section/*/slides.md
!section/*/slides.pdf

# Don't ignore PNGs in figures directories
!section/*/figures/
!section/*/figures/*.png
