ideas.md
.DS_Store
Drafts/Lecture0.md
texput.log
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Lectures/0. Intro/Claude_spam.md
Lectures/0. Intro/lecture0_notebook.ipynb
Lectures/0. Intro/optimization_demo.ipynb
Lectures/0. Intro/optimization_demo.md
Lectures/0. Intro/pre_notebook.py
Lectures/0. Intro/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Lectures/0. Intro/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Lectures/0. Intro/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Lectures/0. Intro/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Lectures/0. Intro/data/FashionMNIST/raw/train-images-idx3-ubyte
Lectures/0. Intro/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Lectures/0. Intro/data/FashionMNIST/raw/train-labels-idx1-ubyte
Lectures/0. Intro/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Lectures/0. Intro/data/MNIST/raw/t10k-images-idx3-ubyte
Lectures/0. Intro/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Lectures/0. Intro/data/MNIST/raw/t10k-labels-idx1-ubyte
Lectures/0. Intro/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Lectures/0. Intro/data/MNIST/raw/train-images-idx3-ubyte
Lectures/0. Intro/data/MNIST/raw/train-images-idx3-ubyte.gz
Lectures/0. Intro/data/MNIST/raw/train-labels-idx1-ubyte
Lectures/0. Intro/data/MNIST/raw/train-labels-idx1-ubyte.gz
Lectures/0. Intro/tikz/convert_pdfs.sh
Lectures/0. Intro/tikz/cross_entropy.aux
Lectures/0. Intro/tikz/cross_entropy.fdb_latexmk
Lectures/0. Intro/tikz/cross_entropy.fls
Lectures/0. Intro/tikz/cross_entropy.log
Lectures/0. Intro/tikz/cross_entropy.pdf
Lectures/0. Intro/tikz/cross_entropy.synctex.gz
Lectures/0. Intro/tikz/cross_entropy.tex
Lectures/0. Intro/tikz/gradient_descent_contourtmp0.dat
Lectures/0. Intro/tikz/gradient_descent_contourtmp0.script
Lectures/0. Intro/tikz/gradient_descent.fdb_latexmk
Lectures/0. Intro/tikz/gradient_descent.fls
Lectures/0. Intro/tikz/gradient_descent.pdf
Lectures/0. Intro/tikz/gradient_descent.tex
Lectures/0. Intro/tikz/sigmoid.aux
Lectures/0. Intro/tikz/sigmoid.fdb_latexmk
Lectures/0. Intro/tikz/sigmoid.fls
Lectures/0. Intro/tikz/sigmoid.log
Lectures/0. Intro/tikz/sigmoid.pdf
Lectures/0. Intro/tikz/sigmoid.synctex.gz
Lectures/0. Intro/tikz/sigmoid.tex
Lectures/0. Intro/tikz/spam_classification_process.aux
Lectures/0. Intro/tikz/spam_classification_process.fdb_latexmk
Lectures/0. Intro/tikz/spam_classification_process.fls
Lectures/0. Intro/tikz/spam_classification_process.log
Lectures/0. Intro/tikz/spam_classification_process.pdf
Lectures/0. Intro/tikz/spam_classification_process.synctex.gz
Lectures/0. Intro/tikz/spam_classification_process.tex
Material from other courses/Lewis_and_shmoys.pdf
