.modelLayer {
  border: 1px solid grey;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
  font-size: 0.9em;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s; /* Smooth transition */
  white-space: nowrap; /* Prevent wrapping */
  flex-shrink: 0; /* Prevent layers from shrinking */
}

.highlighted {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  background-color: #fee; /* Light red background */
}
